@model TimeScanner.Wab.ViewModels.Calendar
@{
    ViewBag.Title = "Details";
}

<h2>รายละเอียดกิจกรรม</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsWorkingDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWorkingDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("แก้ไข", "Edit", new { id = Model.Id }) | @Html.ActionLink("ลบ", "Delete", new { id = Model.Id }) |
    }    
    @Html.ActionLink("กลับไปหน้าหลัก", "Index")
</p>
